/**
 * @file
 * Default styles for the order balance total summary.
 */

.order-total-line {
  padding: 0 10px;
  text-align: right;
}
.order-total-line-label {
  display: inline-block;
}
.order-total-line-value {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.order-total-line__totalpaid {
  padding-top: 10px;
}
.order-total-line__total,
.order-total-line__balance {
  font-weight: bold;
}
